<aside class="sidebar">
    <div class="profile">
        <img src="/assets/avatar.jpeg">
        <h1 class="name">Caio Amaral</h1>
        <nav class="nav-menu">
            <ul>
                <li>
                    <a href="/v4">
                        <i class="bx bx-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/v4/about/">
                        <i class="bx bx-user"></i>
                        <span>About</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>